# Byte-compiled / optimized / DLL files
**/__pycache__/
*.py[cod]
*.class
.idea/
**/*pyc

*.bck
tmp/
temp/

dataCollector*.cde
*.tar.gz
suivi/**/*
livraison/
nohup.out

PYTHON/bin/spacepy/
PYTHON/python-3.5.4.exe
